<mat-accordion>
  <mat-expansion-panel (opened)="carPanelClick()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{from}}
      </mat-panel-title>
      <mat-panel-description>
        Попутники
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let car of cars;">
        <mat-icon matListIcon>directions_car</mat-icon>
        <h3 matLine>{{car.departure_place.city_name}} - {{car.arrival_place.city_name}}</h3>
        <p matLine>
          <span>{{car.departure_date}}</span>
        </p>
        <button mat-icon-button color="warn" (click)="submit(car)">
          <mat-icon>check_circle_outline</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>