.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 5px; 
}

mat-sidenav {
    min-width: 250px;
    width: 20%;
}

.signOut {
    left: 0;
    bottom: 0;
    position: absolute;
}