<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="center center">
      <button class="add-button" mat-fab color="primary" (click)="create()">
          <mat-icon>add</mat-icon>
        </button>
  </div>
  <div *ngIf="isLoading" class="loading-container" fxLayout="column" fxLayoutAlign="center center">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
      <h2>Зачекайте...</h2>
    </div>
  <mat-accordion *ngIf="!isLoading">
    <app-bla-bla-car-monitor-card *ngFor="let item of monitor" [monitor]="item"></app-bla-bla-car-monitor-card>
  </mat-accordion>
</div>