<div class="register-card" fxLayoutAlign="center center">
  <mat-card>
    <div class="card-content" fxLayout="column" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>Реєстрація</mat-card-title>
          <mat-card-subtitle>Введіть ваші дані для реєстрації облікового запису</mat-card-subtitle>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-card-content>
            <div class="card-form " fxLayout="column" fxLayoutAlign="center center">
              <mat-form-field appearance="outline">
                <mat-label>Електронна адреса</mat-label>
                <input matInput [formControl]="emailField" placeholder="Електронна адреса">
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-error *ngIf="emailField.invalid">{{getEmailErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Пароль</mat-label>
                <input matInput [formControl]="passwordField" [type]="hidePassword ? 'password' : 'text'"
                  placeholder="Пароль">
                <mat-icon matSuffix class="hide-icon" (click)="hidePassword = !hidePassword">
                  {{hidePassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-error *ngIf="passwordField.invalid">{{getPasswordErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Підтвердіть пароль</mat-label>
                <input matInput [formControl]="confirmPasswordField" [type]="hideConfirmPassword ? 'password' : 'text'"
                  placeholder="Підтвердіть пароль">
                <mat-icon matSuffix class="hide-icon" (click)="hideConfirmPassword = !hideConfirmPassword">
                  {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-error *ngIf="confirmPasswordField.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Ім'я користувача</mat-label>
                <input matInput [formControl]="userNameField" placeholder="Ім'я користувача">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="userNameField.invalid">{{getUserNameErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Номер телефону</mat-label>
                <input matInput [formControl]="phoneNumberField" placeholder="Номер телефону">
                <mat-icon matSuffix>local_phone</mat-icon>
                <mat-error *ngIf="phoneNumberField.invalid">{{getPhoneNumberErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center end">
        <div fxLayout="column" fxLayoutAlign="end center">
          <mat-card-actions>
            <div class="card-actions" fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="10px">
              <button mat-flat-button color="primary" [disabled]="!isFormValid()"
                (click)="register()">Зареєструватись</button>
              <a class="mat-body-strong" routerLink="/login">Повернутись</a>
            </div>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </mat-card>
</div>