<mat-card>
  <div class="card" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="trip.type == 0" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>
        <mat-icon>train</mat-icon>
        {{trip.train.from.station}} - {{trip.train.to.station}}
      </mat-card-title>
      <mat-card-subtitle>Потяг</mat-card-subtitle>
      <mat-card-content>
        <div class="content" fxLayout="column" fxLayoutAlign="start start">
          <label class="mat-body">
            {{trip.train.num}} <strong>{{trip.train.from.stationTrain}} - {{trip.train.to.stationTrain}}</strong>
          </label>
          <label class="mat-body">
            Дата відпралення: <strong>{{trip.train.departureDate | date:'dd.MM.yyyy HH:mm'}}</strong>
          </label>
          <label class="mat-body">
            Дата прибуття: <strong>{{trip.train.arrivalDate | date:'dd.MM.yyyy HH:mm'}}</strong>
          </label>
          <label class="mat-body">
            Час подорожі: <strong>{{trip.train.travelTime}}</strong>
          </label>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutAlign="end center">
        <a href="{{trip.train.bookingLink}}" target="_blank" mat-flat-button color="warn">Забронювати</a>
      </mat-card-actions>
    </div>
    <div *ngIf="trip.type == 1" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>
        <mat-icon>directions_bus</mat-icon>
        {{trip.bus.from}} - {{trip.bus.to}}
      </mat-card-title>
      <mat-card-subtitle>Автобус</mat-card-subtitle>
      <mat-card-content>
        <div class="content" fxLayout="column" fxLayoutAlign="start start">
          <label class="mat-body">
            {{trip.bus.busName}}
          </label>
          <label class="mat-body">
            Дата відпралення: <strong>{{trip.bus.departureDate | date:'dd.MM.yyyy HH:mm'}}</strong>
          </label>
          <label class="mat-body">
            Дата прибуття: <strong>{{trip.bus.arrivalDate | date:'dd.MM.yyyy HH:mm'}}</strong>
          </label>
          <label class="mat-body">
            Ціна: <strong>{{trip.bus.price}} грн</strong>
          </label>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutAlign="end center">
        <a href="{{trip.bus.bookingLink}}" target="_blang" mat-flat-button color="warn">Забронювати</a>
      </mat-card-actions>
    </div>
    <div *ngIf="trip.type == 2" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>
        <mat-icon>directions_car</mat-icon>
        {{trip.car.departure_place.city_name}} - {{trip.car.arrival_place.city_name}}
      </mat-card-title>
      <mat-card-subtitle>Попутник</mat-card-subtitle>
      <mat-card-content>
        <div class="content" fxLayout="column" fxLayoutAlign="start start">
          <label class="mat-body" *ngIf="trip.car.car != null">
            Автомобіль: {{trip.car.car.make}} {{trip.car.car.model}}
          </label>
          <label class="mat-body">
            Дата відпралення: <strong>{{trip.car.departure_date | date:'dd.MM.yyyy HH:mm'}}</strong>
          </label>
          <label class="mat-body">
            Дата прибуття: <strong>{{trip.car.arrival_date | date:'dd.MM.yyyy HH:mm'}}</strong>
          </label>
          <label class="mat-body">
            Місць: <strong>{{trip.car.seats_left}}</strong>
          </label>
          <label class="mat-body">
            Ціна: <strong>{{trip.car.price.value}} грн</strong>
          </label>
          <label class="mat-body">
            Час подорожі: <strong>{{trip.car.duration.value / 3600 | number: '1.1-2'}} год</strong>
          </label>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutAlign="end center">
        <a href="{{trip.car.links._front}}" target="_blank" mat-flat-button color="warn">Забронювати</a>
      </mat-card-actions>
    </div>
  </div>
</mat-card>