<div class="container" fxLayout="column">
    <div *ngIf="!isDisabled">
        <div fxLayout="row" fxLayoutAlign="center start">
            <h1>{{startLocation}}</h1>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-around start">
            <div fxLayout="column" class="column" fxLayoutAlign="center center">
                <app-railway-card class="card" (submitButton)="submit($event)" [from]="startLocation"
                    [to]="finishLocation" [date]="date" [time]=time></app-railway-card>
            </div>
            <div fxLayout="column" class="column" fxLayoutAlign="center center">
                <app-bus-card class="card" (submitButton)="submit($event)" [from]="startLocation" [to]="finishLocation"
                    [date]="date" [time]=time></app-bus-card>
            </div>
            <div fxLayout="column" class="column" fxLayoutAlign="center center">
                <app-bla-bla-car-card class="card" (submitButton)="submit($event)" [from]="startLocation"
                    [to]="finishLocation" [date]="date" [time]=time>
                </app-bla-bla-car-card>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center end">
            <h1>{{finishLocation}}</h1>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <div fxLayout="column" fxLayoutAlign="center center"  *ngFor="let trip of trips; let i = index">        
            <app-trip-card [trip]="trip"></app-trip-card>
        </div>
    </div>
</div>