<div class="form-card" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card-content>
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-card-title>Вкажіть маршрут</mat-card-title>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxLayout="column">
              <mat-form-field appearance="outline">
                <mat-label>Початок подорожі</mat-label>
                <input matInput [formControl]="fromInput" placeholder="Початок подорожі" [matAutocomplete]="from">
                <mat-autocomplete #from="matAutocomplete">
                  <mat-option *ngFor="let option of options | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <mat-icon matSuffix>location_on</mat-icon>
                <mat-error *ngIf="fromInput.invalid">Поле обов'язкове</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column">
              <mat-form-field appearance="outline">
                <mat-label>Кінець подорожі</mat-label>
                <input matInput [formControl]="toInput" placeholder="Кінець подорожі" [matAutocomplete]="to">
                <mat-autocomplete #to="matAutocomplete">
                  <mat-option *ngFor="let option of options | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <mat-icon matSuffix>location_on</mat-icon>
                <mat-error *ngIf="toInput.invalid">Поле обов'язкове</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-card-title>Вкажіть дату та час відправлення</mat-card-title>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxLayout="column">
              <mat-form-field appearance="outline">
                <mat-label>Дата відправлення</mat-label>
                <input matInput [formControl]="dateInput" [min]="minDate" [matDatepicker]="dp"
                  placeholder="Дата відправлення" readonly>
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error *ngIf="dateInput.invalid">Поле обов'язкове</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column">
              <mat-form-field appearance="outline">
                <mat-label>Час відправлення</mat-label>
                <input matInput type="time" [disableClick]="true" [formControl]="timeInput"
                  placeholder="Час відправлення" [ngxTimepicker]="fullTime" [format]="24" readonly>
                <ngx-material-timepicker-toggle matSuffix [for]="fullTime">access_time</ngx-material-timepicker-toggle>
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                <mat-error *ngIf="timeInput.invalid">Поле обов'язкове</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column">
        <mat-card-actions>
          <button mat-fab (click)="submit()" color="primary" [disabled]="!isValid()">Пошук</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>