<mat-accordion>
    <mat-expansion-panel (opened)="trainPanelClick()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{from}}
            </mat-panel-title>
            <mat-panel-description>
                Потяги
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div *ngIf="!isLoading && trains.length == 0" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>sentiment_dissatisfied</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <label matLine>На жаль, поїздок не знайдено</label>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" (click)="createMonitoring()">
                <button mat-flat-button color="primary">Створити моніторинг</button>
            </div>
        </div>
        <div *ngFor="let train of trains;">
            <div class="trip-list">
                <mat-divider></mat-divider>
                <div fxLayout="row wrap" class="trip" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center">
                        <mat-icon>train</mat-icon>
                    </div>
                    <div fxLayout="column" fxFlex="60" fxLayoutAlign="center start">
                        <label matLine>{{train.from.station}} - {{train.to.station}}</label>
                        <span matLine>{{train.departureDate| date:'dd.MM.yyyy HH:mm'}}</span>
                    </div>
                    <div fxLayout="column" fxFlex="20" fxLayoutAlign="center start" dir="ltr">
                        <span class="type" fxLayout="row" *ngFor="let type of train.types">{{type.letter}}:
                            <strong>&nbsp;{{type.places}}</strong></span>
                    </div>
                    <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center">
                        <button mat-icon-button color="warn" (click)="submit(train)">
                            <mat-icon>check_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>