<mat-accordion>
    <mat-expansion-panel (opened)="trainPanelClick()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{from}}
            </mat-panel-title>
            <mat-panel-description>
                Потяги
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let train of trains;">
                <mat-icon matListIcon>train</mat-icon>
                <h3 matLine>{{train.from.station}} - {{train.to.station}}</h3>
                <p matLine>
                    <span>{{train.from.date}} {{train.from.time}}</span>
                </p>
                <button mat-icon-button color="warn">
                    <mat-icon>check_circle_outline</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>