<mat-accordion>
    <mat-expansion-panel (opened)="busPanelClick()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{from}}
            </mat-panel-title>
            <mat-panel-description>
                Автобуси
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div *ngFor="let bus of buses;">
            <div class="trip-list">
                <mat-divider></mat-divider>
                <div fxLayout="row wrap" class="trip" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center">
                        <mat-icon matListIcon>directions_bus</mat-icon>
                    </div>
                    <div fxLayout="column" fxFlex="60" fxLayoutAlign="center start">
                        <label matLine>{{bus.from}} - {{bus.to}}</label>
                            <span matLine>{{bus.departureDate | date:'dd.MM.yyyy HH:mm'}}</span>
                    </div>
                    <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayoutAlign="center start" dir="ltr">
                            <span class="type">{{bus.price}}</span>
                            <span class="type">&nbsp;грн</span>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center">
                        <button mat-icon-button color="warn" (click)="submit(bus)">
                            <mat-icon>check_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>